server:
  port: 8080
  tomcat:
    max-swallow-size: 1MB

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/todoapp
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-request-size: 1MB
      max-file-size: 1MB

logging:
  level:
    org.springframework.web.servlet.handler.HandlerMappingIntrospector: ERROR

management:
  endpoint:
    web:
        exposure:
            include: health,info


