server:
  port: ${SERVER_PORT:8080}
  tomcat:
    max-swallow-size: 1MB

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/todoapp}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-request-size: 1MB
      max-file-size: 1MB

logging:
  level:
    com.application.todoapi: ${LOG_LEVEL:INFO}
    org.springframework.web.servlet.handler.HandlerMappingIntrospector: ERROR

management:
  endpoint:
    web:
        exposure:
            include: ${MANAGEMENT_ENDPOINTS:health,info}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:mySecretKey123456789012345678901234567890123456789012345678901234567890}
  expiration: ${JWT_EXPIRATION:86400000}
  header: Authorization
  prefix: "Bearer "


